.card {
  width: 350px;
  height: 230px;
  top: 40px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 13%;
  height: 100%;
  background: linear-gradient(rgb(186, 94, 222), rgb(238, 110, 210));
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.secret .additional {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(125, 209, 166), rgb(23, 226, 121));
  transition: 0.5s;
  overflow: hidden;
  z-index: 2;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
